<div class="list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{contact.name}} {{contact.surname}}</h5>
    <small class="text-muted">{{contact.isFavorite}}</small>
  </div>
  <button class="btn btn-danger" (click)="onDelete()">Delete</button>
</div>