<form (submit)="onSubmit()">
  <div class="from-group">
    <label for="name">Name: </label>
    <input [(ngModel)]="newContact.name" type="text" class="form-control" name="name" id="name">
  </div>
  <div class="from-group">
    <label for="surname">Surname: </label>
    <input [(ngModel)]="newContact.surname" type="text" class="form-control" name="surname" id="surname">
  </div>
  <div class="from-group">
    <label for="phone">Phone: </label>
    <input [(ngModel)]="newContact.phone" type="text" class="form-control" name="phone" id="phone">
  </div>
  <div class="from-group">
    <label for="email">Email: </label>
    <input [(ngModel)]="newContact.email" type="email" class="form-control" name="email" id="email">
  </div>
  <div class="form-group form-check">
    <input [(ngModel)]="newContact.isFavorite" type="checkbox" class="form-check-input" id="favorite" name="favorite">
    <label class="form-check-label" for="favorite">Is favorite</label>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>