<div class="container my-4">
	<div class="row">
		<div class="col-6">
			<app-contact-form></app-contact-form>
		</div>
		<div class="col-6">
			<app-contact-search></app-contact-search>
			<app-contact-list></app-contact-list>
		</div>
	</div>
</div>