<div class="list-group">
  <app-contact-item *ngFor="let item of contactsStorage.contacts | async" [contact]="item"></app-contact-item>
  <!-- <app-contact-item (deleted)="updateContacts($event)" *ngFor="let item of contacts" [contact]="item"></app-contact-item> -->
</div>